<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Start copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,436},{70,72}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{70,72}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>Symbol 1 copy 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1},{85,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>Symbol 10 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>Symbol 11 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,217},{115,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,131}}</string>
                <key>sourceSize</key>
                <string>{115,131}</string>
            </dict>
            <key>Symbol 12 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1},{102,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,123}}</string>
                <key>sourceSize</key>
                <string>{102,123}</string>
            </dict>
            <key>Symbol 13 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,256},{89,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,115}}</string>
                <key>sourceSize</key>
                <string>{89,115}</string>
            </dict>
            <key>Symbol 14 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,203},{75,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,101}}</string>
                <key>sourceSize</key>
                <string>{75,101}</string>
            </dict>
            <key>Symbol 15 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,458},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>Symbol 3 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,458},{40,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{40,40}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>Symbol 4 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,104},{98,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,121}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>Symbol 5 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,87},{112,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,129}</string>
            </dict>
            <key>Symbol 6 copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,499},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>Symbol 7 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,130},{125,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,136}}</string>
                <key>sourceSize</key>
                <string>{125,136}</string>
            </dict>
            <key>Symbol 8 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,311},{128,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,144}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>Symbol 9 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,311},{128,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,146}}</string>
                <key>sourceSize</key>
                <string>{128,146}</string>
            </dict>
            <key>bongnuoc copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,346},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>dice number _gr copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,431},{87,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{87,68}}</string>
                <key>sourceSize</key>
                <string>{131,148}</string>
            </dict>
            <key>dice number _gr grren copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{133,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,154}}</string>
                <key>sourceSize</key>
                <string>{133,154}</string>
            </dict>
            <key>dice number _gr yellow copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,156},{133,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,154}}</string>
                <key>sourceSize</key>
                <string>{133,154}</string>
            </dict>
            <key>sprite 183 copy 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,436},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>sprite 187 copy 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,349},{81,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{81,77}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>sprite 187 copy 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,349},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87bee58194969b748c00fc56186c4bf5:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
